<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - My Website</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
</header>

<main>
    <h1>About Us</h1>
    <p>We are Fyah's Kuztum Creations, and we are passionate about crafting and skin care!

        We are a small-town business with big dreams. Our family has been curating skin care products, customizing items, and creating crafting supplies/tools for 4 years.
        We pour our hearts and souls into everything we do, and it shows in the quality of our products.
        We believe in old-fashioned values: hard work, honesty, and a whole lot of love. Let us share our passion with you!</p>

    <p>Ready to dive into creativity? Explore our handcrafted treasures and crafting essentials. Let's make something amazing together! </p>

    <table>
        <caption>Our Team</caption>
        <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Stacie "Fyah" Ponds</td>
            <td>CEO</td>
            <td>fyahskuztum@yahoo.com</td>
        </tr>
        <tr>
            <td>Derek Barnes</td>
            <td>CFO</td>
            <td>fyahskuztum@yahoo.com</td>
        </tr>
        <tr>
            <td>Quan Ponds</td>
            <td>Shipping</td>
            <td>fyahskuztum@yahoo.com</td>
        </tr>
        <tr>
            <td>Nae Ponds</td>
            <td>Skin Care</td>
            <td>fyahskuztum@yahoo.com</td>
        </tr>
        <tr>
            <td>Rick Crocker</td>
            <td>Inventory</td>
            <td>fyahskuztum@yahoo.com</td>
        </tr>
        <tr>
            <td>Maji Ponds</td>
            <td>3D Designer</td>
            <td>fyahskuztum@yahoo.com</td>
        </tr>
        </tbody>
    </table>
</main>

<footer>
    <p>&copy; 2024 Fyah's Kuztum Creations, LLC</p>
</footer>
</body>
</html>
